.container {
    display: grid;
    height: 100vh;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
   
}
.box1, .box2, .box3{
    width: auto;
    height: auto;
    text-align: center;
    font-family: Arial, Arial, Helvetica, sans-serif ;
    color: #1C6EA4;
}
.box1 {
    grid-area: 3 / 2 / 4 / 3;
}
.box2 {
    grid-area: 3 / 4 / 4 / 5;
}
.box3 { grid-area: 3 / 3 / 4 / 4; 
    display: grid;
    place-items: center;
}

.boxmain {  
    grid-area: 1 / 2 / 2 / 5; }
    #title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: #1C6EA4;
        font-weight: 700;
        text-decoration: none solid rgb(232, 230, 227);
        font-style: normal;
        font-variant: small-caps;
        text-transform: uppercase;
        }
div.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}

.divTable.blueTable .divTableBody .divTableCell {
    padding: 0;
    font-size: 13px;
}

.divTable.blueTable .divTableRow:nth-child(even) {
    background: #D0E4F5;
}

.divTable.blueTable .divTableHeading {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}

.divTable.blueTable .divTableHeading .divTableHead {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}

.divTable.blueTable .divTableHeading .divTableHead:first-child {

    border-left: none;
}

.blueTable .tableFootStyle {
    font-size: 14px;
}

.blueTable .tableFootStyle .links {
    text-align: right;
}

.blueTable .tableFootStyle .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.blueTable.outerTableFooter {
    border-top: none;
}

.blueTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px;
}

.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell, .divTableHead {
    display: table-cell;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}
.clearA, .clearB, .calculate{
    margin-top: 10px;
    background-color:#1c6ea4;
	border-radius:20px;
	border:2px solid #03639e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 15px;
	text-decoration:none;

}
.container input {
    max-width: 8.33333ch;
    min-width: 6.33333ch;
}
.clearA:hover, .clearB:hover, .calculate:hover  {
    background-color:#2f4866;
}

.clearA:active, .clearB:active, .calculate:active  {
    position:relative;
	top:1px;
}
.add, .minus {
	background-color:#1c6ea4;
	border-radius:20px;
	border:2px solid #03639e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 9px;
	text-decoration:none;
}
.add:hover, .minus:hover {
	background-color:#2f4866;
}
.add:active, .minus:active {
	position:relative;
	top:1px;
}
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 8px 18px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 32px;
        background: #1c6ea4;
        color: #ffffff;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #cccccc;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 11px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #7b7b7b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}
/* Style for the disabled button */
#calculate:disabled {
    background-color: #ccc; /* Change to a color of your choice */
    cursor: not-allowed;
}
@media (max-width: 500px) {
    .container {   
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
   
    .box1, .box2, .box3{
        width: auto;
        height: auto;
        text-align: center;
        font-family: Arial, Arial, Helvetica, sans-serif ;
        color: #1C6EA4;
    }
    .box1 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .box2 {
        grid-area: 3 / 1 / 4 / 2;
         
    }
    .box3 { grid-area:4 / 1 / 5 / 2;
        display: grid;
        place-items: center;
    }
    .boxmain {  
        text-align: center;
        grid-area: 1 / 1 / 2 / 2; 
        
    }
  }
  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#081b27;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.my-float{
	margin-top:22px;
}
.dark-mode {
    background-color: #202324;
    color: white;
  }
  .results{
    margin-top: 10px;
  }